body{
    height: 200vh;
    width: 100%;
    margin: 0;
    background-color: rgb(139, 139, 139);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    /*no bulletpoint*/
    list-style: none;
    position: fixed;
    background-color: #ffffffa2;
    height: 70px;
    width: calc(100% - 200px);
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 2;
    margin-top: 7px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.header li a{
    text-decoration: none;
    color: black;

}
.icon{
    width: 60px;
    height: 60px;
}
.banner{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-image: url(pictures/banner-blog.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.509);
    z-index: 1;
}
.banner h2{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    height: 100vh;
    color: rgb(255, 255, 255);   
    text-shadow: 0 0 10px black;
    background-color: rgba(54, 54, 54, 0.578);
}
.homepage-info{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: relative;
    padding-top: 100vh;
    background-color: rgb(139, 139, 139);

}
.news-item{
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 85x;
}
.news-item img{

    max-height: 85px;
    max-width: 20%;
}